/*
.kolicina{
  width: 40px;
  float: left;
  margin-top: 15px;
  margin-left: 5px;

}
.izdaj{
  clear: both;
}
.gumb{
  float: left;
  margin-top:15px;
  margin-left: 5px;

}

.naziv{
  float: left;clear: both;
}

.jela{
  position: relative;
  clear: both;

}
*/
